/* App.css
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.partA {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.partB {
  display: flex;
  gap: 20px;
}

.part1,
.part2 {
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

input[type="text"],
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.downloadButton {
  background-color: rgb(49, 157, 235);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.downloadButton:hover {
  background-color: rgb(32, 214, 102);
} */
